<mat-dialog-content>
  <h3>{{ description }}</h3>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>List Name</mat-label>
          <input matInput type="text" formControlName="list" required />
        </mat-form-field> -->
        <!-- <app-error-msg
          [control]="list"
          controlName="List Name"
        ></app-error-msg> -->
      <!-- </div>
    </div> -->

    <div class="form-group">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Task</mat-label>
          <input matInput type="text" formControlName="task" required />
        </mat-form-field>
        <!-- <app-error-msg
          [control]="task"
          controlName="Task"
        ></app-error-msg> -->
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- <app-error-msg
        [control]="noteText"
        controlName="Note Text"
      ></app-error-msg> -->
    </div>

    <mat-divider></mat-divider>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="spacer"></span>

  <div class="form-group buttons-container">
    <button
      mat-flat-button
      [disabled]="formGroup.invalid"
      color="primary"
      (click)="onSubmit()"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      {{ isAddMode ? 'Add' : 'Update' }}
    </button>

    <button mat-flat-button type="button" color="warn" (click)="close()">
      Cancel
    </button>
  </div>
</mat-dialog-actions>
