.not-found-image {
  content: url('../../assets/not-found.svg');
  height: 70vh;
  width: 70vw;
}

.image-container {
  display: flex;
  justify-content: center;
}

.text-container {
  text-align: center;
}
