.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image {
  width: 40vw;
  height: 90vh;
  margin-right: 5vw;
  margin-left: -2vw;
}

.form-content {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}
