<mat-card class="list-card">
  <mat-card-header>
    <div class="row">
      <div class="col-md-10" >
        <h2>{{ toDoList?.title }}</h2>
      </div>
      <div class="col-md-2">
        <button
          mat-icon-button
          aria-label="Edit list"
          matTooltip="Edit list"
          color="primary"
          type="button"
          class="right"
          (click)="openListItemModal(toDoList)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-selection-list #entries>
      @for (entry of toDoList?.toDoItems; track entry) {
      <mat-list-option [selected]="entry.completed">{{ entry.description }}</mat-list-option>
      <mat-divider></mat-divider>
      }
    </mat-selection-list>

    <button
      mat-button
      color="primary"
      aria-label="Edit list"
      matTooltip="Edit list"
      color="primary"
      type="button"
      class="right"
      (click)="openListItemModal(toDoList)"
    >
      <mat-icon>edit</mat-icon>
      Edit list
    </button>
  </mat-card-content>
</mat-card>
