<div class="row">
  <div class="col">
    <h2>Sticky Wall</h2>
  </div>
  <div class="col">
    <button
      mat-icon-button
      aria-label="Add new note"
      matTooltip="Add new note"
      color="primary"
      type="button"
      class="right"
    >
      <mat-icon>library_add</mat-icon>
    </button>
  </div>
</div>

<div class="grid">
  <app-sticky-wall-card></app-sticky-wall-card>
  <app-sticky-wall-card></app-sticky-wall-card>
  <app-sticky-wall-card></app-sticky-wall-card>
  <app-sticky-wall-card></app-sticky-wall-card>
  <app-sticky-wall-card></app-sticky-wall-card>
  <app-sticky-wall-card></app-sticky-wall-card>
  <app-sticky-wall-card></app-sticky-wall-card>
</div>
