<div class="row">
  <div class="col">
    <h2>Sticky Wall</h2>
  </div>
  <div class="col">
    <button
      mat-mini-fab
      aria-label="Add new note"
      matTooltip="Add new note"
      color="primary"
      type="button"
      class="right"
      (click)="openStickyNoteModal()"
    >
      <mat-icon>library_add</mat-icon>
    </button>
  </div>
</div>

<div class="grid">
  @for (note of notes; track note) {
    <app-sticky-wall-card [note]="note" (click)="openStickyNoteModal(note)"></app-sticky-wall-card>
  }
  <mat-card class="card-height-limit" (click)="openStickyNoteModal()">
    <mat-card-content class="add-card">
      <mat-icon color="primary">library_add</mat-icon>
    </mat-card-content>
  </mat-card>
</div>
