.no-lists-image {
  content: url('../../assets/to-the-stars-1.svg');
  height: 60vh;
  width: 60vw;
}

.image-container {
  margin-top: -2%;
  display: flex;
  justify-content: center;
}

.text-container {
  margin-top: -2%;
  text-align: center;
}

.paragraph-top{
  margin-top: -1%;
}
