// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "./theme.scss";

* {
  font-family: Poppins, sans-serif !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

.elevated-mat-card {
  @include mat.elevation(5);
}

.row {
  display: flex;
  align-items: center;
}

.col {
  flex: 1;
}

.right {
  float: right;
}
