<div>
  <mat-toolbar color="accent">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>IngeniSync</span>
    <span></span>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkMode ? "wb_sunny" : "brightness_2" }}</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="sidenav"
      fixedInViewport="false"
      fixedTopGap="0"
      fixedBottomGap="0"
    >
      <mat-nav-list>
        @for (link of list; track link) {
        <a mat-list-item [href]="link.url" [activated]="link.isActive">{{
          link.label
        }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
